/// Base font size in px
//// @group Typography
//// @type Value
$base-font-size: 16px;

/// Base line height in px
//// @group Typography
//// @type Value
$base-line-height: 25px;

/// Font stack: Arial
//// @group Font Stacks
//// @type String
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;

/// Rhythm unit variable
//// @group Typography
//// @type String
$rhythm-unit: "rem";

/// Set to true to add a px fallback when using rems
//// @group Typography
//// @type Boolean
$rem-with-px-fallback: false;

$round-to-nearest-half-line: true;

/// Uncomment to override the modular-scale-ratio variable with a bourbon variable or a custom value.
/// $perfect-fourth is the bourbon default.
//// @group Typography
//// @type Variable/value
// $modular-scale-ratio: $perfect-fourth;

/// Uncomment to override the modular-scale-base variable with a custom value.
/// The default here is em($em-base), where the default value for $em-base is 16px.
//// @group Typography
//// @type Variable/value
// $modular-scale-base: em($em-base);

