doctype html
html.no-js(lang='nl-BE')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    title Jacket
    meta(name='description', content='A starterkit with a sane default setup, a good starting structure and powerfull front-end tools.')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // FAVICONS
    link(rel="apple-touch-icon", sizes="57x57", href="img/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="img/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="img/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="img/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="img/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="img/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="img/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="img/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="img/favicons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="img/favicons/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="img/favicons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="img/favicons/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="img/favicons/manifest.json")
    link(rel="mask-icon", href="img/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")

    // STYLES
    link(rel='stylesheet', href='css/base-styles.css')
    link(rel='stylesheet', href='css/helper-styles.css')
    link(rel='stylesheet', href='css/component-styles.css')
    link(rel='stylesheet', href='css/layout-styles.css')
    link(rel='stylesheet', href='bower_components/prism/themes/prism.css')
    link(rel='stylesheet', href='bower_components/prism/themes/prism-coy.css')

    style(type='text/css').
      .preview {
        background-color: #FF9E4F;
        padding: 1.2rem;
        margin: 1rem 0;
      }

      .preview > * {
        background-color: #F2872F;
        padding: .8rem;
        color: #724016;
        font-weight: bold;

        box-shadow: inset 0 1px 0 0 #FF9E4F;
      }

      .rows .preview {
        margin: 0;
        padding-bottom: 0;
      }

      .rows .preview:last-child {
        padding-bottom: 1.2rem;
      }

      blockquote {
        margin-left: 0;
        padding: 10px;
        padding-left: 15px;
        border-left: 3px solid #FFF;
        font-size: 1rem;
        line-height: 1.3rem;
      }

      blockquote.orange {
        border-left: 3px solid #F2872F;
        color: #F2872F;
        font-weight: bold;
      }

      blockquote.blue {
        border-left: 3px solid #008DA5;
        color: #008DA5;
        font-weight: bold;
      }

      hr {
        border: 0;
        border-bottom: 1px solid #a0aab6;
      }

      pre[class*="language-"]::before,
      pre[class*="language-"]::after {
        display: none;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .centerblock {
        height: 170px;
        text-align: center;
      }

      .centerblock:before {
        content: '';
      /*   content: '';
        margin-left: -0.25em; */
        display: inline-block;
        height: 100%;
        vertical-align: middle;
       }

      .centerblock img {
        display: inline-block;
        vertical-align: middle;
        width: 350px;
       }

  body
    div(style="background-color: #2c3137;").-p5
      header(class="cf")
        div(style="text-align: left;" class="w3@tablet w4@desktop centerblock")
          img(style="width: 350px;" src="img/logo/Jacket-large.png")

        div(class="w5@tablet w8@desktop")
          h1(style="line-height: 2.5rem; margin: 0; color: #f2872f") This is how the grid system works.

          blockquote.-c-white.-mb2(style="margin-left: 0; padding: 10px; padding-left: 15px; border-left: 3px solid #FFF; font-size: 1rem; line-height: 1.3rem").
            The grid system is based on #[strong(style="color: #f2872f") Neat] from the Bourbon library, <br> you can find additional information on their #[a(target="_blank", href="http://neat.bourbon.io", style="color: #f2872f") website].

    .-hor-p5
      .item.-mt7
        h2 The use of .w1-{grid-columns} #[small (.w12 default)]
        p.-mt1.
          You can use the <strong>.w1-12</strong> classes in the html to make separate columns. <br>
          These classes are mainly used to create <strong>asymetric</strong> grids.<br>
        blockquote.orange.-mb5 #[i.fa.fa-exclamation-triangle ] You should not use this if you want to create a SYMETRIC grid.

        .preview.clearfix
          .w8 .w8
          .w4 .w4

        pre
          code(class="language-html")
            ='<div class="clearfix">\n'
            ='  <div class="w8">.w8</div>\n'
            ='  <div class="w4">.w4</div>\n'
            ='</div>\n'

        .preview.clearfix
          .w3 .w3
          .w4 .w4
          .w5 .w5

        pre
          code(class="language-html")
            ='<div class="clearfix">\n'
            ='  <div class="w3">.w3</div>\n'
            ='  <div class="w4">.w4</div>\n'
            ='  <div class="w5">.w5</div>\n'
            ='</div>\n'

        hr.-ver-m7

        p.-mt1.
          This can be powered by <strong>@breakpoint</strong> syntax. For example <strong>@tablet</strong> or <strong>@mobile</strong> <br>
          When this suffix is used, the class will only be active <strong>from that breakpoint and up</strong>.

        blockquote.orange.-mb5 #[i.fa.fa-exclamation-triangle ] Remember, the number of columns can be different per breakpoint, that is the way bourbon works, take a look at breakpoints.json in this case, the number is 8 for tablet.

        .preview.clearfix
          div(class="w2@tablet") .w2@tablet
          div(class="w2@tablet") .w2@tablet
          div(class="w4@tablet") .w4@tablet

        pre
          code(class="language-html")
            ='<div class="clearfix">\n'
            ='  <div class="w2@tablet">.w2@tablet</div>\n'
            ='  <div class="w2@tablet">.w2@tablet</div>\n'
            ='  <div class="w4@tablet">.w4@tablet</div>\n'
            ='</div>\n'

        p.-mt1.
          This can even be more powerfull when <strong>combining</strong> breakpoints<br>

        .preview.clearfix
          div(class="w2@tablet w3@desktop") <small>.w2@tablet.w3@desktop</small>
          div(class="w2@tablet w5@desktop") <small>.w2@tablet.w5@desktop</small>
          div(class="w4@tablet w4@desktop") <small>.w4@tablet.w4@desktop</small>

        pre
          code(class="language-html")
            ='<div class="clearfix">\n'
            ='  <div class="w2@tablet w3@desktop"><small>.w2@tablet.w3@desktop</small></div>\n'
            ='  <div class="w2@tablet w5@desktop"><small>.w2@tablet.w5@desktop</small></div>\n'
            ='  <div class="w4@tablet w4@desktop"><small>.w4@tablet.w4@desktop</small></div>\n'
            ='</div>\n'

      hr.-ver-m7

      .item
        h2 The use of .grid-1 to .grid-6
        p.-mt1.
          You can use the <strong>.grid-1 to grid-6</strong> classes in the html to make symetric rasters.<br>
          The number is based on the amount of columns, so <strong>grid-6</strong> will create <strong>6 columns</strong>, <strong>grid-3</strong> will create <strong>3 columns</strong>.

        blockquote.blue.-mb5 #[i.fa.fa-info-circle ] When you use .grid-2 for example, you must have 2 child divs present in the wrapper.

        .grid-2.preview
          div Content here
          div Content here

        pre
          code(class="language-html")
            ='<div class="grid-2">\n'
            ='  <div>Content here</div>\n'
            ='  <div>Content here</div>\n'
            ='</div>'

        .grid-6.preview
          div.-mb-gut teaser
          div.-mb-gut teaser
          div.-mb-gut teaser
          div.-mb-gut teaser
          div.-mb-gut teaser
          div.-mb-gut teaser
          div teaser
          div teaser
          div teaser
          div teaser
          div teaser
          div teaser

        pre
          code(class="language-html")
            ='<div class="grid-6">\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='  <div>teaser</div>\n'
            ='</div>'

        blockquote.blue.-mb5 #[i.fa.fa-info-circle ] You can combine grids at your will, the syntax is @\#{bp-one}2\#{bp-two}. Very handy If your grid, changes from 2 to 4 over a breakpoint.

        div(class="grid-2@zero2mobile grid-4@mobile").preview
          div Content here
          div Content here
          div Content here
          div Content here

        pre
          code(class="language-html")
            ='<div class="grid-2@zero2mobile grid-4@mobile">\n'
            ='  <div>Content here</div>\n'
            ='  <div>Content here</div>\n'
            ='  <div>Content here</div>\n'
            ='  <div>Content here</div>\n'
            ='</div>'

        div(class="grid-2@zero2mobile grid-3@mobile2desktop grid-6@desktop").preview
          div Content here
          div Content here
          div Content here
          div Content here
          div Content here
          div Content here

        pre
          code(class="language-html")
            ='<div class="grid-2@zero2mobile grid-3@mobile2desktop grid-6@desktop">\n'
            ='  <div>Content here</div>\n'
            ='  <div>Content here</div>\n'
            ='  <div>Content here</div>\n'
            ='  <div>Content here</div>\n'
            ='  <div>Content here</div>\n'
            ='  <div>Content here</div>\n'
            ='</div>'

      hr.-ver-m7

      .item
        h2 The use of .latest
        p.-mt1.
          You can use the <strong>.latest</strong> class to make the last item float right.<br>

        blockquote.blue.-mb5 #[i.fa.fa-info-circle ] This can also be combinned with the @breakpoint suffixes.

        .preview.clearfix
          .w3 .w3
          .w4.latest .w4.latest

        pre
          code(class="language-html")
            ='<div class="clearfix">\n'
            ='  <div class="w3">.w3</div>\n'
            ='  <div class="w4 latest">.w4.latest</div>\n'
            ='</div>'

        .preview.clearfix
          div(class="w3@tablet") .w3@tablet
          div(class="w4@tablet latest@mobile") .w4@tablet.latest@mobile

        pre
          code(class="language-html")
            ='<div class="clearfix">\n'
            ='  <div class="w3@tablet">.w3@tablet</div>\n'
            ='  <div class="w4@tablet latest@mobile">.w4@tablet.latest@mobile</div>\n'
            ='</div>'

      hr.-ver-m7

      .item
        h2 The use of .row
        p.-mt1.
          You can use the <strong>.row</strong> class to make rows inside the layout.<br>

        blockquote.orange.-mb5 #[i.fa.fa-exclamation-triangle ] The use of rows in a grid-x is irrelevant so you do not have to wrap every row. Rows are typically used on the main layout.

        .rows.-mb4
          .row.preview
            .w4 .w4
            .w4 .w4
            .w4 .w4
          .row.preview
            .w4 .w4
            .w4 .w4
            .w4 .w4

        pre
          code(class="language-html")
            ='<div class="rows">\n'
            ='  <div class="row">\n'
            ='    <div class="w4">.w4</div>\n'
            ='    <div class="w4">.w4</div>\n'
            ='    <div class="w4">.w4</div>\n'
            ='  </div>\n'
            ='  <div class="row">\n'
            ='    <div class="w4">.w4</div>\n'
            ='    <div class="w4">.w4</div>\n'
            ='    <div class="w4">.w4</div>\n'
            ='  </div>\n'
            ='</div>'

      hr.-ver-m7

      .item
        h2 The use of .center-col-x
        p.-mt1.
          You can use the <strong>.center-col-x</strong> class to center an item on the grid.<br>

        blockquote.orange.-mb5 #[i.fa.fa-exclamation-triangle ] The use of rows in a grid-x is irrelevant so you do not have to wrap every row. Rows are typically used on the main layout.

        .cf.preview
          .center-col-6 .center-col-6

        pre
          code(class="language-html")
            ='<div class="cf">\n'
            ='  <div class="center-col-6">.center-col-6</div>\n'
            ='</div>'

        blockquote.blue.-mb5 #[i.fa.fa-info-circle ] This can also be combinned with the @breakpoint suffixes.

        .cf.preview
          div(class="center-col-5@tablet center-col-10@desktop ") .center-col-5@tablet.center-col-10@desktop

        pre
          code(class="language-html")
            ='<div class="cf">\n'
            ='  <div class="center-col-5@tablet center-col-10@desktop">\n'
            ='    .center-col-5@tablet.center-col-10@desktop\n'
            ='  </div>\n'
            ='</div>'


      footer(style="margin-top: 70px;")
        p(style="text-align: center; color: #808080; font-size: 0.8rem").
          Jacket &bull; License MIT &bull; &copy; One Agency #{new Date().getFullYear()} &bull; Repository on #[a(target="_blank", href="https://github.com/Crosscheck/Jacket") Github]

  script(src='bower_components/prism/prism.js')

