$first: 1;

@for $i from $first through $default-itterate-length {
  .-ml#{$i} {
    margin-left: rh($default-itterate-ratio * $i);
  }
}

@for $i from $first through $default-itterate-length {
  .-mt#{$i} {
    margin-top: rh($default-itterate-ratio * $i);
  }
}

@for $i from $first through $default-itterate-length {
  .-mr#{$i} {
    margin-right: rh($default-itterate-ratio * $i);
  }
}

@for $i from $first through $default-itterate-length {
  .-mb#{$i} {
    margin-bottom: rh($default-itterate-ratio * $i);
  }
}

@for $i from $first through $default-itterate-length {
  .-pl#{$i} {
    padding-left: rh($default-itterate-ratio * $i);
  }
}

@for $i from $first through $default-itterate-length {
  .-pt#{$i} {
    padding-top: rh($default-itterate-ratio * $i);
  }
}

@for $i from $first through $default-itterate-length {
  .-pr#{$i} {
    padding-right: rh($default-itterate-ratio * $i);
  }
}

@for $i from $first through $default-itterate-length {
  .-pb#{$i} {
    padding-bottom: rh($default-itterate-ratio * $i);
  }
}

@for $i from $first through $default-itterate-length {
  .-hor-p#{$i} {
    padding: 0 rh($default-itterate-ratio * $i);
  }
}

@for $i from $first through $default-itterate-length {
  .-ver-p#{$i} {
    padding: rh($default-itterate-ratio * $i) 0;
  }
}

@for $i from $first through $default-itterate-length {
  .-hor-m#{$i} {
    margin: 0 rh($default-itterate-ratio * $i);
  }
}

@for $i from $first through $default-itterate-length {
  .-ver-m#{$i} {
    margin: rh($default-itterate-ratio * $i) 0;
  }
}
