$first: 0;

@for $i from $first through $default-itterate-length {
  .-ml#{$i} {
    margin-left: rh($default-itterate-ratio * $i);
  }

  .-mt#{$i} {
    margin-top: rh($default-itterate-ratio * $i);
  }

  .-mr#{$i} {
    margin-right: rh($default-itterate-ratio * $i);
  }

  .-mb#{$i} {
    margin-bottom: rh($default-itterate-ratio * $i);
  }

  .-pl#{$i} {
    padding-left: rh($default-itterate-ratio * $i);
  }

  .-pt#{$i} {
    padding-top: rh($default-itterate-ratio * $i);
  }

  .-pr#{$i} {
    padding-right: rh($default-itterate-ratio * $i);
  }

  .-pb#{$i} {
    padding-bottom: rh($default-itterate-ratio * $i);
  }

  .-p#{$i} {
    padding: rh($default-itterate-ratio * $i);
  }

  .-hor-p#{$i} {
    padding: 0 rh($default-itterate-ratio * $i);
  }

  .-ver-p#{$i} {
    padding: rh($default-itterate-ratio * $i) 0;
  }

  .-hor-m#{$i} {
    margin: 0 rh($default-itterate-ratio * $i);
  }

  .-ver-m#{$i} {
    margin: rh($default-itterate-ratio * $i) 0;
  }
}

.-p-gut {
  padding: $gutter;
}

.-pt-gut {
  padding-top: $gutter;
}

.-pr-gut {
  padding-right: $gutter;
}

.-pb-gut {
  padding-bottom: $gutter;
}

.-pl-gut {
  padding-left: $gutter;
}

.-m-gut {
  margin: $gutter;
}

.-mt-gut {
  margin-top: $gutter;
}

.-mr-gut {
  margin-right: $gutter;
}

.-mb-gut {
  margin-bottom: $gutter;
}

.-ml-gut {
  margin-left: $gutter;
}

.-hor-p-gut {
  padding: 0 $gutter;
}

.-ver-p-gut {
  padding: $gutter 0;
}

.-hor-m-gut {
  margin: 0 $gutter;
}

.-ver-m-gut {
  margin: $gutter 0;
}
